<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>We will be back...</title>
  </head>
  <body>
    <h1>We'll be right be back</h1>
    <p>
      The site is currently being updated.
    </p>
  </body>
</html>